{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  {% include 'sections/hero.html' %}
  {% include 'sections/home_offer_strip.html' %}
  {% include 'sections/mission_vision_values.html' %}
  {% include 'sections/home_services.html' %}
  {% include 'sections/home_highlights.html' %}
  {% include 'sections/partners.html' %}
  {% include 'sections/truck_dealers.html' %}
  {% include 'sections/final_word.html' %}
  {% include 'sections/contact-under-hero.html' %}
{% endblock %}
